@model IEnumerable<Pais>

@{
    ViewData["Title"] = "Listar Países";
}

<div id="categoriaIndex">
    <table class="table table-striped">
        <thead>
            <tr>
                <th>@Html.ActionLink("Nome", "Index", new { sortOrdery = ViewBag.sortOrder == null ? "Asc" : (ViewBag.sortOrder == "Asc" ? "Desc" : "Asc") }, new { @style = "color: #000" })</th>
                <th></th>
            </tr>
        </thead>
        <tbody>

            @foreach (var item in Model)
            {
                <tr>
                    <td class="strongTd"><a asp-controller="Pais" asp-action="Details" asp-route-id="@item.Id" style="color: #000">@item.Nome</a></td>
                    <td class="align-middle float-right"><a class="btn btn-outline-primary" asp-action="Edit" asp-route-id="@item.Id"><i class="bi bi-pencil-square"></i>Editar</a></td>
                </tr>
            }
        </tbody>
    </table>
</div>

<div style="position: fixed; right: 25px; bottom: 25px;" class="text-white">
    <a asp-controller="Pais" asp-action="Create" class="btn btn-success">
        <i class="bi bi-plus-circle"></i>
         Novo 
    </a>
</div>